<link rel="stylesheet" href="css/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<style>
.select-post a:hover{
    text-decoration: underline;
}
</style>

<div class="post-wrapper">

    <% for(var post of posts){ %>
        <div class="card post">
            <% for(var img of post.images){ %>
                <% if(img.main === 1){ %>
                    <div class=" post-image">
                        <a href=<%= "/posts/" + post.id %>><img src=<%= "img/uploads/" + img.nome  %> alt=""></a>
                    </div>
                <% } %>
            <% } %>
            <div class="description-wrapper">
                <div class="data">
                    <%= post.data %>
                </div>
                
                <div class="post-title select-post">
                    <a href=<%= "/posts/" + post.id %>><h3><%= post.titolo %></h3></a>
                </div>
                               
            </div>
        </div>

    <% } %>    
   
</div>