<link rel="stylesheet" href="css/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<style>
.select-post a:hover{
    text-decoration: underline;
}
</style>

<div class="post-wrapper">

    <% for(var post of posts){ %>        
        <div class="card post">

            <% if(admin){ %>
                <div class="trash-icon" id=<%= post.id %>>
                    <img src="img/trashIcon.png" alt="">
                </div>
            <% } %>           

            
            <% for(var img of post.images){ %>
                <% if(img.main === 1){ %>
                    <div class=" post-image">
                        <a href=<%= "/posts/" + post.id %>><img src=<%= "img/uploads/" + img.nome  %> alt=""></a>
                    </div>
                <% } %>
            <% } %>
            <div class="description-wrapper">
                <div class="data">
                    <%= post.data %>
                </div>
                
                <div class="post-title select-post">
                    <a href=<%= "/posts/" + post.id %>><h3><%= post.titolo %></h3></a>
                </div>
                               
            </div>
        </div>

    <% } %>    
   
</div>

<style>
    .post{
        position: relative;
    }

    .trash-icon{
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    .trash-icon img{
        width: 30px;
    }
</style>

<script>
    /*trash button*/
    const deleteBtns = document.querySelectorAll("div.trash-icon");

    for(var deleteBtn of deleteBtns){
        deleteBtn.addEventListener("click", () => {
            console.log(deleteBtn.id);            
        });
    }
    
    

    async function del (content, url){
        const options = {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(content)
        };

        const res = await fetch(url, options);
        const data = await res.json();

        return data;
    }
</script>