<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: rgba(0, 162, 162, 0.515);
        }
    </style>
    
    <title>Posts</title>
</head>
<body>   

    <%- include("../partials/introduzioneTemp"); %>

    <% if(admin){ %>
        <div class="add-post-container">
            <%- include("../partials/add-post"); %>
            <%- include("../partials/upload-images"); %>
        </div>
    <% } %>
    

    <%- include("../partials/posts"); %>

    <%- include("../partials/footer"); %>

    

    

    


    <script src="js/post.js"></script>

</body>
</html>